:root {
  --color-bg: #f4f1de;
  --color-primary: #3d405b;
  --color-secondary: #81b29a;
  --color-button: #f2cc8f;
  --color-button-text: #e07a5f;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

header * {
  display: inline;
  color: var(--color-primary);
}

header > h1 {
  padding-left: 50px;
  padding-right: 50px;
}
