* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

article {
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  padding: 30px;
  font-family: Roboto, Helvetica, sans-serif;
}

img {
  border-radius: 15px;
}

h2 {
  padding: 15px 10px 10px 0px;
}

p {
  padding: 5px 5px 5px 0px;
}

#handle {
  color: grey;
}

button {
  padding: 5px 5px 5px 0px;
  color: blue;
  border: none;
  background-color: white;
}
