.date {
  font-weight: bold;
  font-size: 0.9rem;
}

.titlecnt {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1rem;
}

.favicon {
  width: 1.5rem;
}

.text {
  text-align: left;
  padding-bottom: 20px;
}

.button {
  border-radius: 100px;
  border: none;
  padding: 0;
  margin: 0;
}
